@model Christmas_Holiday.Models.Activity
@{
    Layout = "_Layout";
}

    <h1>Lägg till fler aktiviteter</h1>

    <form asp-action="Create" method="post">
        <div>
            <label for="Title">Titel:</label>
            <input asp-for="Title" class="form-control" id="Title" />
        </div>

        <div>
            <label for="Description">Beskrivning:</label>
            <input asp-for="Description" class="form-control" id="Description" />
        </div>

        <div>
            <label for="MemberId">Deltagare:</label>
            <select asp-for="MemberId" class="form-control">
                <option value="">-- Välj deltagare --</option>
                @foreach (var item in ViewBag.MembersDropdown as List<SelectListItem>)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>


        <div>
            <input type="submit" value="Spara" class="btn btn-primary" />
        </div>
        <a asp-action="Index">Tillbaka till deltagare</a>
    </form>
