@model Activity
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>Välkommen hit</h1>
        <div>
            Id
            @Html.DisplayFor(model => model.Id)
        </div>
        <div>
            Titel
            @Html.DisplayFor(model => model.Title)
        </div>
         <div> 
             Beskrivning
             @Html.DisplayFor(model => model.Description) 
         </div>
    </div>
</body>
</html>