@model Activity
@{
    Layout = "_Layout";
}
    <h1>Ändra information om aktiviteter</h1>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div>
            <label for="Title">Titel:</label>
            <input asp-for="Title" class="form-control" />
        </div>

        <div>
            <label for="Description">Beskrivning:</label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div>
            <label for="MemberId">Deltagare:</label>
            <select asp-for="MemberId" class="form-control" asp-items="@(new SelectList(ViewBag.MembersDropdown, "Value", "Text", Model.MemberId))">
                <option value="">Ingen medlem</option> <!-- Option for no member selection -->
            </select>
        </div>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }

        <div>
            <input type="submit" value="Spara" class="btn btn-primary" />
        </div>
    </form>
