@model Activity
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Ändra information om aktiviteter</h1>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div>
            Titel: <input asp-for="Title" />
        </div>
         <div> 
             Beskrivning: <input asp-for="Description" /> 
         </div>
        <div>
            <label for="MemberId">Deltagare:</label>
            <select asp-for="MemberId" asp-items="ViewBag.MemberId">
                <option value="">Välj deltagare</option>
            </select>
        </div>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }

        <div>
            <input type="submit" value="Spara" />
        </div>
    </form>
</body>
</html>
