@model List<Activity>
<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<a asp-action="Create">Lägg till en aktivitet</a>
		<table>
			<thead>
				<tr>
					<td>Titel</td>
					<td>Beskrivning</td>
					<td>Visa mer...</td>
					<td>Ändra information</td>
					<td>Ta bort aktivitet</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var Activity in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => Activity.Title)</td>
						<td>@Html.DisplayFor(modelItem => Activity.Description)</td>
						<td><a asp-action="Details" asp-route-id=@Activity.Id>Visa mer</a></td>
						<td><a asp-action="Edit" asp-route-id=@Activity.Id>Ändra information</a></td>
						<td><a asp-action="Delete" asp-route-id=@Activity.Id>Ta bort aktivitet</a></td>
					</tr>
				}
			</tbody>
		</table>
	</body>
</html>