@model List<Member>
@{
    Layout = "_Layout";
}

<a asp-action="Create" class="btn btn-primary">Lägg till deltagare</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Ta bort</th> <!-- Add a new column for the delete action -->
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => member.Id)</td>
                <td>@Html.DisplayFor(modelItem => member.Name)</td>
                <td>@Html.DisplayFor(modelItem => member.Lastname)</td>
                <td>
                    <!-- Add delete button/link -->
                    <form asp-action="Delete" method="post" class="d-inline">
                        <input type="hidden" name="Id" value="@member.Id" /> 
                        <button type="submit" class="btn btn-danger">Ta bort</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
