@{
	Layout = "_Layout";
}
    <h1>Välkommen till familjens julaktiviteter!</h1>
    <a asp-action="Index" asp-controller="Activity">Gå till filmsidan</a>
    <a asp-action="Index" asp-controller="Member">Gå till deltagare</a>
