<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>StartSida</h1>
    <a asp-action="Index" asp-controller="Activity">Gå till filmsidan</a>
    <a asp-action="Index" asp-controller="Member">Gå till deltagare</a>
</body>
</html>